#include "Configurations/App/App.base.xcconfig"

ONLY_ACTIVE_ARCH = YES
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES

CODE_SIGN_IDENTITY = Apple Development
PROVISIONING_PROFILE_SPECIFIER = match Development moe.nnsnodnb.WebSocketClient

GCC_OPTIMIZATION_LEVEL = 0
SWIFT_OPTIMIZATION_LEVEL = -Onone
SWIFT_ACTIVE_COMPILATION_CONDITIONS = Debug
COPY_PHASE_STRIP = NO
STRIP_INSTALLED_PRODUCT = NO

FORM_ABOVE_BANNER_AD_UNIT_ID = ca-app-pub-3940256099942544/2435281174
WEBSOCKET_CONNECTION_REWARD_INTERSTITIAL_AD_UNIT_ID = ca-app-pub-3940256099942544/6978759866
