#include "Configurations/Project.xcconfig"

CODE_SIGN_STYLE = Manual
PRODUCT_BUNDLE_IDENTIFIER = moe.nnsnodnb.WebSocketClient

GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = WebSocketClient/Supporting Files/Info.plist
MARKETING_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 2

COPY_PHASE_STRIP = YES
STRIP_INSTALLED_PRODUCT = YES

ASSETCATALOG_COMPILER_ALTERNATE_APPICON_NAMES = AppIcon-Black AppIcon-Purple AppIcon-White AppIcon-Blue AppIcon-Red AppIcon-Yellow
