<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Licenses</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/abseil-cpp-binary</string>
			<key>Title</key>
			<string>abseil</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/APIKit</string>
			<key>Title</key>
			<string>APIKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/CollectionConcurrencyKit</string>
			<key>Title</key>
			<string>CollectionConcurrencyKit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/combine-schedulers</string>
			<key>Title</key>
			<string>combine-schedulers</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/firebase-ios-sdk</string>
			<key>Title</key>
			<string>Firebase</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/GoogleAppMeasurement</string>
			<key>Title</key>
			<string>GoogleAppMeasurement</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/GoogleDataTransport</string>
			<key>Title</key>
			<string>GoogleDataTransport</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/GoogleUtilities</string>
			<key>Title</key>
			<string>GoogleUtilities</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/grpc-binary</string>
			<key>Title</key>
			<string>gRPC</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/gtm-session-fetcher</string>
			<key>Title</key>
			<string>GTMSessionFetcher</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/HeliumLogger</string>
			<key>Title</key>
			<string>HeliumLogger</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/leveldb</string>
			<key>Title</key>
			<string>leveldb</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/LicensePlist</string>
			<key>Title</key>
			<string>LicensePlist</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/LoggerAPI</string>
			<key>Title</key>
			<string>LoggerAPI</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/nanopb</string>
			<key>Title</key>
			<string>nanopb</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/promises</string>
			<key>Title</key>
			<string>Promises</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/SafariView</string>
			<key>Title</key>
			<string>SafariView</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/SFSafeSymbols</string>
			<key>Title</key>
			<string>SFSafeSymbols</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/SourceKitten</string>
			<key>Title</key>
			<string>SourceKitten</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/swift-argument-parser</string>
			<key>Title</key>
			<string>swift-argument-parser</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/swift-case-paths</string>
			<key>Title</key>
			<string>swift-case-paths</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/swift-clocks</string>
			<key>Title</key>
			<string>swift-clocks</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/swift-collections</string>
			<key>Title</key>
			<string>swift-collections</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/swift-composable-architecture</string>
			<key>Title</key>
			<string>swift-composable-architecture</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/swift-custom-dump</string>
			<key>Title</key>
			<string>swift-custom-dump</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/swift-dependencies</string>
			<key>Title</key>
			<string>swift-dependencies</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/swift-html-entities</string>
			<key>Title</key>
			<string>HTMLEntities</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/swift-identified-collections</string>
			<key>Title</key>
			<string>swift-identified-collections</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/swift-log</string>
			<key>Title</key>
			<string>swift-log</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/swift-protobuf</string>
			<key>Title</key>
			<string>SwiftProtobuf</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/swift-syntax</string>
			<key>Title</key>
			<string>SwiftSyntax</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/SwiftLint</string>
			<key>Title</key>
			<string>SwiftLint</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/swiftui-navigation</string>
			<key>Title</key>
			<string>swiftui-navigation</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/SwiftyTextTable</string>
			<key>Title</key>
			<string>SwiftyTextTable</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/SWXMLHash</string>
			<key>Title</key>
			<string>SWXMLHash</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/XcodeEdit</string>
			<key>Title</key>
			<string>XcodeEdit</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/xctest-dynamic-overlay</string>
			<key>Title</key>
			<string>xctest-dynamic-overlay</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/YamlSwift</string>
			<key>Title</key>
			<string>Yaml</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>moe.nnsnodnb.WebSocketClient/Yams</string>
			<key>Title</key>
			<string>Yams</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
